@import url('https://fonts.googleapis.com/css?family=Exo+2|Lobster');

body {
  margin: 0;
  padding: 0;
}

img {
  position: fixed;
  top: 0;
  right:0;
  width: 32px;
  height: auto;
}

.container {
  background: url("https://unsplash.com/photos/1HkVV14d8Bg/download?force=true");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#title {
  position: fixed;
  top: 8%;
  font-size: 4em;
  font-family: 'lobster', sans-serif;
}

.discount a {
  width: 50%;
  text-decoration: none;
  color: black;
}

.noDiscount a {
  width: 50%;
  text-decoration: none;
  color: black;
}

.discount {
  border: 3px solid black;
  width: 50%;
  margin-bottom: 2.5%;
  margin-top: 75px;
  font-family: 'Exo 2', sans-serif;
}

.noDiscount {
  border: 3px solid black;
  width: 50%;
  font-family: 'Exo 2', sans-serif;
}

a:hover {
  color: white;
}

@media (max-width: 390px) {
  #title {
    font-size: 3em;
  }

  .discount{
    font-size: 0.85em;
  }

  .noDiscount{
    font-size: 0.85em;
  }
}
